<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Job Word </title>


    <!-- CSS -->    
    <link rel="stylesheet" href="~/Content/bootstrap-grid.css">
    <link rel="stylesheet" href="~/Content/icons.css">
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <!-- Preloader Start -->
    <div class="preloader">
        <div class="utf-preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Preloader End -->
    <div id="wrapper">
        @Html.Partial("_HeaderCommon")
        <div class="clearfix"></div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                @Html.Partial("_FooterCommon")
            </footer>
        </div>

    </div>



    <script src="~/Scripts/themejs/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/themejs/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/Scripts/themejs/mmenu.min.js"></script>
    <script src="~/Scripts/themejs/tippy.all.min.js"></script>
    <script src="~/Scripts/themejs/simplebar.min.js"></script>
    <script src="~/Scripts/themejs/bootstrap-slider.min.js"></script>
    <script src="~/Scripts/themejs/bootstrap-select.min.js"></script>
    <script src="~/Scripts/themejs/snackbar.js"></script>
    <script src="~/Scripts/themejs/clipboard.min.js"></script>
    <script src="~/Scripts/themejs/counterup.min.js"></script>
    <script src="~/Scripts/themejs/magnific-popup.min.js"></script>
    <script src="~/Scripts/themejs/slick.min.js"></script>
    <script src="~/Scripts/themejs/typed.js"></script>
    <script src="~/Scripts/themejs/custom_jquery.js"></script>

    <script>
        if ($('.utf-intro-banner-search-form-block')[0]) {
            setTimeout(function () {
                $(".pac-container").prependTo(".utf-intro-search-field-item.with-autocomplete");
            }, 300);
        }
    </script>
    <script>
        var typed = new Typed('.typed-words', {
            strings: ["Web Designer.", " Graphic Designer.", " Logo Designer.", " Sales Marketing."],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
        });
    </script>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)





</body>
</html>
