@model CustomAuthorizationFilter.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="form-horizontal">
            <h4>User</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.RoleId, new List<SelectListItem> {
                           new SelectListItem { Value = "0" , Text = "Employer" },
                           new SelectListItem { Value = "1" , Text = "Job Seeker" }

                        }, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@





    <!-- Page Content -->
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <div class="utf-login-register-page-aera margin-top-50 margin-bottom-50">
                    <div class="utf-welcome-text-item">
                        <h3>Create Your New Account!</h3>
                        <span>Don't Have an Account? <a href="login.html">Log In!</a></span>
                    </div>
                    <div class="utf-account-type">
                        @*<div>
                                <input type="radio" name="utf-account-type-radio" id="freelancer-radio" class="utf-account-type-radio" checked />
                                <label for="freelancer-radio" title="Employer" data-tippy-placement="top" class="utf-ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
                            </div>*@
                        <div>
                            <input type="radio" name="utf-account-type-radio" id="employer-radio" class="utf-account-type-radio" checked />
                            <label for="employer-radio" title="Candidate" data-tippy-placement="top" class="utf-ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Candidate</label>
                        </div>
                    </div>

                    <form method="post" id="utf-register-account-form">
                        @*<div class="utf-no-border">
                                <input type="text" class="utf-with-border" name="name-register" id="name-register" placeholder="User Name" required />
                            </div>*@

                        <div class="utf-no-border margin-bottom-18">
                            @*@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="utf-no-border">
                                @*@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "utf-with-border", @placeholder = "Enter Email" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="utf-no-border margin-bottom-18">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                                <button class="btn btn-verify" type="button">Verify Email</button>
                                            </div>
                            </div>
                                                    <!-- <input type="text" class="utf-with-border" name="emailaddress-register" id="emailaddress-register" placeholder="Email Address" required/> -->
                                                </div>*@


                        <div class="utf-no-border">
                            @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="utf-no-border">
                                @Html.PasswordFor(model => model.Password, new { @class = "utf-with-border", @id = "password-register", @placeholder = "Password" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="utf-no-border">
                                <input type="password" class="utf-with-border" name="password-register" id="password-register" placeholder="Password" required />
                            </div>*@
                        <div class="utf-no-border">
                            <input type="password" class="utf-with-border" name="password-repeat-register" id="password-repeat-register" placeholder="Repeat Password" required />
                        </div>

                        <div class="checkbox margin-top-10">
                            <input type="checkbox" id="two-step0">
                            <label for="two-step0"><span class="checkbox-icon"></span> I Have Read and Agree to the <a href="#">Terms &amp; Conditions</a></label>
                        </div>
                    </form>
                    @*<a class="button full-width utf-button-sliding-icon ripple-effect margin-top-10"><span class=" text-white">Create An Account <i class="icon-feather-chevron-right"></i></span></a>*@
                    <input type="submit" value="Create" class="btn btn-default button full-width utf-button-sliding-icon ripple-effect margin-top-10" />
                </div>
            </div>
        </div>
    </div>

}


